/* Criado por Vitor Schapieski :D */

html{
    overflow: hidden;
    overflow-y: hidden;
}

body{
    background-image: url(/images/4e3712a13bb5493898c2cf73a7644ac6.gif);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
}
.b-titleBr{
    display: none;
}
h4, h5{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.651);
}
h4{
    font-size: 3em;
    margin-top: 15%;
}
h5{
    font-size: 1em;
}
div{
    position: relative;
}

a{
    position: absolute;
    bottom: 20%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.603);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    width: 100%;
    text-align: center;
    transition: all .6s ease-in-out;
}


@media (max-width: 1000px){
    body{background-position:center center ;}
    a{font-size: 1.6em;}
    h4{font-size: 2.6em;}
    h5{font-size: 1.6em;}
    .b-title{display: block;}
}